.map-wrapper {
    width: 100vw;
    height: 100vh;
}

.map-container {
    height: 100%;
}

.leaflet-attribution-flag {
    display: none !important;
}

.leaflet-top.leaflet-left {
    display: none;
}

.leaflet-top.leaflet-right {
    position: absolute;
    top: 40%;
}
